
{% if postfix_inet.interfaces is string %}
inet_interfaces = {{ postfix_inet.interfaces }}
{% else %}
inet_interfaces =
    {{ postfix_inet.interfaces | join("\n") }}
{% endif %}

{% if postfix_inet.protocols is string %}
inet_protocols = {{ postfix_inet.protocols }}
{% else %}
inet_protocols =
    {{ postfix_inet.protocols | join("\n") }}
{% endif %}
