
{% if postfix_maillog.file is defined and
      postfix_maillog.file | string | length > 0 %}
maillog_file                              = {{ postfix_maillog.file }}
{% endif %}
{% if postfix_maillog.file_compressor is defined and
      postfix_maillog.file_compressor | string | length > 0 %}
maillog_file_compressor                   = {{ postfix_maillog.file_compressor }}
{% endif %}
{% if postfix_maillog.file_prefixes is defined and
      postfix_maillog.file_prefixes | length > 0 %}
maillog_file_prefixes                     = {{ postfix_maillog.file_prefixes | join(", ") }}
{% endif %}
{% if postfix_maillog.file_rotate_suffix is defined and
      postfix_maillog.file_rotate_suffix | string | length > 0 %}
maillog_file_rotate_suffix                = {{ postfix_maillog.file_rotate_suffix }}
{% endif %}
