#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
{% if postfix_postscreen.enable %}
  {% if postfix_postscreen.access_list is defined and
        postfix_postscreen.access_list | count > 0 %}
postscreen_access_list             =
    {{ postfix_postscreen.access_list | join("\n") | indent(4) }}
  {% endif  %}
postscreen_bare_newline_enable     = {{ postfix_postscreen.bare_newline_enable | bool | ternary('yes', 'no') }}
postscreen_blacklist_action        = {{ postfix_postscreen.blacklist_action | default('enforce') }}
postscreen_cache_cleanup_interval  = {{ postfix_postscreen.cache_cleanup_interval }}
postscreen_cache_map               = proxy:btree:$data_directory/postscreen_cache
postscreen_dnsbl_action            = {{ postfix_postscreen.blacklist_action | default('enforce') }}
  {% if postfix_postscreen.dnsbl_sites is defined and
        postfix_postscreen.dnsbl_sites | count > 0 %}
postscreen_dnsbl_sites             =
    {{ postfix_postscreen.dnsbl_sites | join("\n") | indent(4) }}
  {% endif %}
postscreen_dnsbl_threshold         = {{ postfix_postscreen.dnsbl_threshold }}
postscreen_dnsbl_ttl               = {{ postfix_postscreen.dnsbl_ttl }}
postscreen_greet_action            = {{ postfix_postscreen.greet_action | default('ignore') }}
postscreen_greet_banner            = {{ postfix_postscreen.greet_banner | default('$smtpd_banner') }}
postscreen_greet_ttl               = {{ postfix_postscreen.greet_ttl }}
postscreen_greet_wait              = {{ postfix_postscreen.greet_wait }}
postscreen_non_smtp_command_enable = {{ postfix_postscreen.non_smtp_command_enable | bool | ternary('yes', 'no') }}
postscreen_pipelining_enable       = {{ postfix_postscreen.pipelining_enable | bool | ternary('yes', 'no') }}
postscreen_discard_ehlo_keywords   = {{ postfix_postscreen.discard_ehlo_keywords }}
{% endif %}
