{% if postfix_postscreen.enable %}
{% if postfix_postscreen.access_list is defined and postfix_postscreen.access_list | count > 0 %}
postscreen_access_list             =
    {{ postfix_postscreen.access_list | join("\n") | indent(4) }}
{% endif  %}
postscreen_bare_newline_enable     = {{ postfix_postscreen.bare_newline_enable | bool | ternary('yes', 'no') }}
postscreen_blacklist_action        = {{ postfix_postscreen.blacklist_action | default('enforce') }}
postscreen_cache_cleanup_interval  = {{ postfix_postscreen.cache_cleanup_interval }}
postscreen_cache_map               = proxy:btree:$data_directory/postscreen_cache
postscreen_dnsbl_action            = {{ postfix_postscreen.blacklist_action | default('enforce') }}
{% if postfix_postscreen.dnsbl_sites is defined and postfix_postscreen.dnsbl_sites | count > 0 %}
postscreen_dnsbl_sites             =
    {{ postfix_postscreen.dnsbl_sites | join("\n") | indent(4) }}
{% endif %}
postscreen_dnsbl_threshold         = {{ postfix_postscreen.dnsbl_threshold }}
postscreen_dnsbl_ttl               = {{ postfix_postscreen.dnsbl_ttl }}
postscreen_greet_action            = {{ postfix_postscreen.greet_action | default('ignore') }}
postscreen_greet_banner            = {{ postfix_postscreen.greet_banner | default('$smtpd_banner') }}
postscreen_greet_ttl               = {{ postfix_postscreen.greet_ttl }}
postscreen_greet_wait              = {{ postfix_postscreen.greet_wait }}
postscreen_non_smtp_command_enable = {{ postfix_postscreen.non_smtp_command_enable | bool | ternary('yes', 'no') }}
postscreen_pipelining_enable       = {{ postfix_postscreen.pipelining_enable | bool | ternary('yes', 'no') }}
postscreen_discard_ehlo_keywords   = {{ postfix_postscreen.discard_ehlo_keywords }}
{% endif %}

{#
# postscreen_dnsbl_sites = wl.mailspike.net=127.0.0.[18;19;20]*-2
#   hostkarma.junkemailfilter.com=127.0.0.1*-2
#   list.dnswl.org=127.0.[0..255].0*-2
#   list.dnswl.org=127.0.[0..255].1*-4
#   list.dnswl.org=127.0.[0..255].2*-6
#   list.dnswl.org=127.0.[0..255].3*-8
#   ix.dnsbl.manitu.net*2
#   bl.spamcop.net*2
#   bl.suomispam.net*2
#   hostkarma.junkemailfilter.com=127.0.0.2*3
#   hostkarma.junkemailfilter.com=127.0.0.4*2
#   hostkarma.junkemailfilter.com=127.0.1.2*1
# #  backscatter.spameatingmonkey.net*2
# #  bl.ipv6.spameatingmonkey.net*2
# #  bl.spameatingmonkey.net*2
# #  b.barracudacentral.org=127.0.0.2*7
# #  bl.mailspike.net=127.0.0.2*5
# #  bl.mailspike.net=127.0.0.[10;11;12]*4
# #  dnsbl.sorbs.net=127.0.0.10*8
# #  dnsbl.sorbs.net=127.0.0.5*6
# #  dnsbl.sorbs.net=127.0.0.7*3
# #  dnsbl.sorbs.net=127.0.0.8*2
# #  dnsbl.sorbs.net=127.0.0.6*2
# #  dnsbl.sorbs.net=127.0.0.9*2
# #  zen.spamhaus.org=127.0.0.[10;11]*8
# #  zen.spamhaus.org=127.0.0.[4..7]*6
# #  zen.spamhaus.org=127.0.0.3*4
# #  zen.spamhaus.org=127.0.0.2*3
#}
