
{% if postfix_proxy.interfaces is defined and
      postfix_proxy.interfaces | string | length > 0 %}
proxy_interfaces                          = {{ postfix_proxy.interfaces }}
{% endif %}
{% if postfix_proxy.read_maps is defined and
      postfix_proxy.read_maps | count > 0 %}
proxy_read_maps                           =
    {{ postfix_proxy.read_maps | join("\n") | indent(4) }}
{% endif  %}
{% if postfix_proxy.write_maps is defined and
      postfix_proxy.write_maps | count > 0 %}
proxy_write_maps                           =
    {{ postfix_proxy.write_maps | join("\n") | indent(4) }}
{% endif  %}
{% if postfix_proxy.map_service_name is defined and
      postfix_proxy.map_service_name | string | length > 0 %}
proxymap_service_name                     = {{ postfix_proxy.map_service_name }}
{% endif %}
{% if postfix_proxy.write_service_name is defined and
      postfix_proxy.write_service_name | string | length > 0 %}
proxywrite_service_name                   = {{ postfix_proxy.write_service_name }}
{% endif %}
{#
# proxy_read_maps = proxy:mysql:/opt/postfix/conf/sql/mysql_sasl_passwd_maps_transport_maps.cf,
#   proxy:mysql:/opt/postfix/conf/sql/mysql_mbr_access_maps.cf,
#   proxy:mysql:/opt/postfix/conf/sql/mysql_tls_enforce_in_policy.cf,
#   $sender_dependent_default_transport_maps,
#   $smtp_tls_policy_maps,
#   $local_recipient_maps,
#   $mydestination,
#   $virtual_alias_maps,
#   $virtual_alias_domains,
#   $virtual_mailbox_maps,
#   $virtual_mailbox_domains,
#   $relay_recipient_maps,
#   $relay_domains,
#   $canonical_maps,
#   $sender_canonical_maps,
#   $sender_bcc_maps,
#   $recipient_bcc_maps,
#   $recipient_canonical_maps,
#   $relocated_maps,
#   $transport_maps,
#   $mynetworks,
#   $smtpd_sender_login_maps,
#   $smtp_sasl_password_maps
#}
{#
proxy_interfaces =
proxy_read_maps = $local_recipient_maps $mydestination $virtual_alias_maps $virtual_alias_domains $virtual_mailbox_maps $virtual_mailbox_domains $relay_recipient_maps $relay_domains $canonical_maps $sender_canonical_maps $recipient_canonical_maps $relocated_maps $transport_maps $mynetworks $smtpd_sender_login_maps $sender_bcc_maps $recipient_bc>
proxy_write_maps = $smtp_sasl_auth_cache_name $lmtp_sasl_auth_cache_name $address_verify_map $postscreen_cache_map
proxymap_service_name = proxymap
proxywrite_service_name = proxywrite
#}
