{#
# proxy_read_maps = proxy:mysql:/opt/postfix/conf/sql/mysql_sasl_passwd_maps_transport_maps.cf,
#   proxy:mysql:/opt/postfix/conf/sql/mysql_mbr_access_maps.cf,
#   proxy:mysql:/opt/postfix/conf/sql/mysql_tls_enforce_in_policy.cf,
#   $sender_dependent_default_transport_maps,
#   $smtp_tls_policy_maps,
#   $local_recipient_maps,
#   $mydestination,
#   $virtual_alias_maps,
#   $virtual_alias_domains,
#   $virtual_mailbox_maps,
#   $virtual_mailbox_domains,
#   $relay_recipient_maps,
#   $relay_domains,
#   $canonical_maps,
#   $sender_canonical_maps,
#   $sender_bcc_maps,
#   $recipient_bcc_maps,
#   $recipient_canonical_maps,
#   $relocated_maps,
#   $transport_maps,
#   $mynetworks,
#   $smtpd_sender_login_maps,
#   $smtp_sasl_password_maps
#}
