
{% if postfix_queue.directory is defined and
      postfix_queue.directory | string | length > 0 %}
queue_directory                           = {{ postfix_queue.directory }}
{% endif %}
{% if postfix_queue.file_attribute_count_limit is defined and
      postfix_queue.file_attribute_count_limit | string | length > 0 %}
queue_file_attribute_count_limit          = {{ postfix_queue.file_attribute_count_limit }}
{% endif %}
{% if postfix_queue.minfree is defined and
      postfix_queue.minfree | string | length > 0 %}
queue_minfree                             = {{ postfix_queue.minfree }}
{% endif %}
{% if postfix_queue.run_delay is defined and
      postfix_queue.run_delay | string | length > 0 %}
queue_run_delay                           = {{ postfix_queue_run_delay }}
{% endif %}
{% if postfix_queue.service_name is defined and
      postfix_queue.service_name | string | length > 0 %}
queue_service_name                        = {{ postfix_queue.service_name }}
{% endif %}
