
{% if postfix_sender.canonical_maps_file is defined and
      postfix_sender.canonical_maps_file | length > 0 %}
sender_canonical_maps           =
    {{ postfix_sender.canonical_maps_file }}
{% endif %}
{% if postfix_sender.dependent_relayhost_maps_file is defined and
      postfix_sender.dependent_relayhost_maps_file | length > 0 %}
sender_dependent_relayhost_maps =
    {{ postfix_sender.dependent_relayhost_maps_file }}
{% endif %}
