
{% if postfix_tls.protocols is defined %}
{% for k, v in postfix_tls.protocols.items() %}
{% if v | count > 0 %}
{{ k }}_tls_protocols   =
    {{ v | join("\n") | indent(4) }}
{% endif %}
{% endfor %}
{% endif %}
{% if postfix_tls.preempt_cipherlist is defined %}
tls_preempt_cipherlist  = {{ postfix_tls.preempt_cipherlist | bool | ternary('yes', 'no') }}
{% endif %}
{% if postfix_tls.server_sni_maps is defined and postfix_tls.server_sni_maps | length > 0 %}
tls_server_sni_maps     = {{ postfix_tls.server_sni_maps }}
{% endif %}
{% if postfix_tls.ssl_options is defined and postfix_tls.ssl_options | count > 0 %}
tls_ssl_options         =
    {{ postfix_tls.ssl_options | join("\n") | indent(4) }}
{% endif %}
