
{% if postfix_transport.maps is defined  and
      postfix_transport.maps | count > 0 %}
  {% if postfix_transport.maps | bodsch.core.type == "list" %}
transport_maps                            =
    {{ postfix_transport.maps | join("\n") | indent(4) }}
  {% else %}
transport_maps                            = {{ postfix_transport.maps }}
  {% endif %}
{% endif %}
{% if postfix_transport.retry_time is defined  and
      postfix_transport.retry_time | string | length > 0 %}
transport_retry_time                      = {{ postfix_transport.retry_time }}
{% endif %}
{#
transport_maps =
transport_retry_time = 60s
#}
