{% if postfix_transport.maps_files is defined %}
{% if postfix_transport.maps_files is string %}
transport_maps    = {{ postfix_transport.maps_files }}
{% else %}
transport_maps   = {{ postfix_transport.maps_files | join(",\n    ") }}
{% endif %}
{% endif %}

# transport_maps = pcre:/opt/postfix/conf/custom_transport.pcre,
#   pcre:/opt/postfix/conf/local_transport,
#   proxy:mysql:/opt/postfix/conf/sql/mysql_relay_ne.cf,
#   proxy:mysql:/opt/postfix/conf/sql/mysql_transport_maps.cf
