#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# See man 5 aliases for format

postmaster: root
{% if postfix_aliases | default([]) | count > 0 %}
  {% for alias in postfix_aliases %}
    {% for k, v in alias.items() %}
{{ k }}: {{ v }}
    {% endfor %}
  {% endfor %}
{% endif %}

