#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# See man 5 aliases for format

postmaster: root
{% for alias in postfix_aliases %}
{{ alias.user }}: {{ alias.alias }}
{% endfor %}
