#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

# Default values are shown after the parameter name in parentheses, and can be looked up with the "postconf -d" command.

# Debian specific:  Specifying a file name will cause the first
# line of that file to be used as the name.  The Debian default
# is /etc/mailname.
myorigin                                  = {{ postfix_myorigin }}
myhostname                                = {{ postfix_hostname }}
mydestination                             =
    {{ postfix_mydestinations | join("\n") | indent(4) }}
mynetworks                                =
    {{ postfix_mynetworks | join("\n") | indent(4) }}
mynetworks_style                          = subnet

biff                                      = {{ postfix_biff | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}

debug_peer_level                          = {{ postfix_debug_peer_level }}
readme_directory                          = {{ postfix_readme_directory | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}

# appending .domain is the MUA's job.
append_dot_mydomain                       = {{ postfix_append_dot_mydomain | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}

{% if postfix_delay_warning_time is defined and
      postfix_delay_warning_time | length > 0 %}
# Uncomment the next line to generate "delayed mail" warnings
delay_warning_time                        = {{ postfix_delay_warning_time }}
{% endif %}

{% if postfix_compatibility_level is defined and
      postfix_compatibility_level | length > 0 %}
# please read: http://www.postfix.org/postconf.5.html#compatibility_level
compatibility_level                       = {{ postfix_compatibility_level }}
{% endif %}

{%- include('main.cf.d/alias.j2') -%}
{%- include('main.cf.d/default.j2') -%}
{%- include('main.cf.d/header.j2') -%}
{%- include('main.cf.d/inet.j2') -%}
{%- include('main.cf.d/mailbox.j2') -%}
{%- include('main.cf.d/maillog.j2') -%}
{%- include('main.cf.d/message.j2') -%}
{%- include('main.cf.d/postscreen.j2') -%}
{%- include('main.cf.d/proxy.j2') -%}
{%- include('main.cf.d/queue.j2') -%}
{%- include('main.cf.d/recipient.j2') -%}
{%- include('main.cf.d/reject.j2') -%}
{%- include('main.cf.d/relay.j2') -%}
{%- include('main.cf.d/sender.j2') -%}
{%- include('main.cf.d/smtp.j2') -%}
{%- include('main.cf.d/smtpd.j2') -%}
{%- include('main.cf.d/tls.j2') -%}
{%- include('main.cf.d/transport.j2') -%}
{%- include('main.cf.d/virtual.j2') -%}

# Disable the SMTP VRFY command. This stops some techniques used to harvest email addresses.
disable_vrfy_command                      = {{ postfix_disable_vrfy_command | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}

{% for raw_option in postfix_raw_options | default([]) %}
{{ raw_option }}
{% endfor %}
