#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

{% if postfix_relay.mxlookup %}
{{ postfix_relay.host }}:{{ postfix_relay.port }}	{{ postfix_smtp.sasl.user }}:{{ postfix_smtp.sasl.password }}
{% else %}
[{{ postfix_relay.host }}]:{{ postfix_relay.port }}	{{ postfix_smtp.sasl.user }}:{{ postfix_smtp.sasl.password }}
{% endif %}
